.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
}

html,
body,
#root,
.App,
.mon,
.scene {
  height: 100%;
  overflow: hidden;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.shape-container {
  width: 310px;
  height: 470px;
  position: relative;
}

.layer {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}

.star {
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: white;
  margin: -1px 0 0 -1px;
  transition: transform 0.1s ease-out;
}

svg {
  stroke: white;
  stroke-opacity: 0.4;
  opacity: 1;
  transition: opacity 0.1 ease-out;
  /* filter: drop-shadow(0px 0px 3px white); */
}

svg.hidden {
  opacity: 0;
}